<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>string interpolation</h1>
    <mat-divider></mat-divider>

    {{ aSimpleString }} <!--  alle primitiven datentypen -->

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>property binding</h1>
    <mat-divider></mat-divider>

    <p [innerHtml]="aSimpleString"></p> <!-- DOM propertys-->
    <input type="text" value="{{ aSimpleString }}"><br>
    <input type="text" [value]="aSimpleString"> <!-- hier übernimmt angular, obt beide varianten -->

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>ngClass/ngStyle</h1>
    <mat-divider></mat-divider>

    <p [ngClass]="{'red-color': attachClass}">text with red color</p>
    <!-- directive propertys / eigene propertys, keine {{  }} möglich -->
    <p [ngStyle]="{'color': 'green'}">text with green color</p>

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>extended property binding</h1>
    <mat-divider></mat-divider>

    <app-extended-data-binding [nameData]="'Foo'"></app-extended-data-binding> <!-- Eigene Events - EventEmitter - @Input -->

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>event binding</h1>
    <mat-divider></mat-divider>

    <button (click)="onClick($event)" mat-raised-button color="primary">click me</button>

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>own event binding</h1>
    <mat-divider></mat-divider>

    <app-event-binding (clicked)="aSimpleString = $event"></app-event-binding> <!-- im template event-binding -->

</mat-card>

<mat-card [ngClass]="{'card-main-layout': true}">
    <h1>two way binding</h1>
    <mat-divider></mat-divider>

    <input type="text" [value]="aSimpleString" (keyup)="aSimpleString = input.value" #input><br>
    <input type="text" [(ngModel)]="aSimpleString"> <!-- FormsModule wird benötigt -->

</mat-card>
